@import 'reset.scss';

body{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
    background: #FFFFFF;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.button-transparent{
    font-weight: 500;
    color: #017DFF;
    background-color: transparent;
    border: 1px solid #017DFF;
    border-radius: 3px;
    height: 34px;
    padding: 0 36px;

}
.button-filled{
    font-weight: 500;
    line-height: 15px;
    color: #FFFFFF;
    padding: 12px 34px;
    background: #017DFF;
    border-radius: 3px;
}
.button-rounded{
    font-weight: 500;
    line-height: 15px;
    color: #017DFF;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid #017DFF;
    border-radius: 26px;
    display: flex;
    align-items: center;
    margin-top: 16px ;
    & svg{
        width: 15px;
        height: 15px;
        margin-right: 5px ;
    }
}
.title{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 5px;
}
.subtitle{
    font-size: 15px;
    text-align: center;
    margin-bottom: 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
// header
.header-top{
    background: #FAFAFA;
    padding: 9px 0;
    border-bottom: 1px solid #E8EAF0;
    &__container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__logo-link{
        margin-right: 60px;
    }
    &__number-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ECF2F8;
        border-radius: 9px;
        padding: 8px 16px;
        margin-right: auto;
        & svg{
            width: 15px;
            height: 15px;
            margin-right: 4px;
        }
        & span{
            line-height: 15px;
        }
    }
    &__nav,&__list  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list li:not(:last-child){
        margin-right: 24px;
    }
    &__list li:last-child{
        margin-right: 66px;
    }
    &__item-link{
        line-height: 15px;
        display: flex;
        align-items: center;
        & svg{
            width: 5px;
            height: 5px;
            stroke:  #017DFF;
            margin-left: 4px;
        }
        & span{
            color: #969696;
        }
    }
    &__item-link--active{
        & span{
            color: #000000;
        }
    }
    &__lang{
        line-height: 15px;
        color: #969696;
        display: flex;
        align-items: center;
        &--hidden{
            display: none;
        }
        & svg{
          width: 5px;
          height: 5px;
          stroke: #969696;
          margin-left: 4px;
        }
    }
    &-top__burger{
        display: none;
    }
}
.header-bottom{
    &__container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__text{
        margin-right: auto;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }
    &__nav,&__list  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list li{
        margin-right: 24px;
    }
    &__item-link{
        line-height: 15px;
        display: flex;
        align-items: center;
        padding: 16px 0;
        & span{
            color: #969696;
        }
    }
    &__item-link--active{
        border-bottom: 2px solid #017DFF;
        & span{
            color: #000000;
        }
    }

}
// banner
.banner{
    background: #FAFAFA;
    padding: 15px 0 39px 0;
    margin-bottom: 34px;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        max-width: 466px;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
    }
    &__text{
        max-width: 564px;
        font-size: 15px;
        margin-bottom: 16px;
    }
    &__price-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 8px;
        margin-bottom: 16px;
    }
    &__price-title{
        font-weight: 500;
        font-size: 24px;
        color: #017DFF;
        margin-bottom: 10px;
        & span{
            font-size: 18px;
        }
    }
    &__price-subtitle{
        line-height: 15px;
        color: #969696;
    }
    &__price-message{
        max-width: 330px;
        height: 50px;
        background-image: url(../img/message-bg.png);
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span{
            padding: 6px 16px 6px 40px;
            font-weight: 300;
            line-height: 18px;
        }
    }
    &__buttons-link{
        margin-left: 24px;
        font-weight: 500;
        line-height: 15px;
        text-decoration-line: underline;
        color: #017DFF;
    }
}
// info
#info-first{
    grid-area: first;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 64px 20px 24px;;
}
#info-second{
    grid-area: second;
}
#info-third{
    grid-area: third;
}
.info{
    margin-bottom: 34px;
    &-swiper-wrapper{
        display: grid;
        max-width: 100%;
        grid-template-areas: "first first"
                             "second third";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 24px;
        & .swiper-slide{
            background: #FAFAFA;
            padding: 20px 34px 20px 24px;
        }
    }
    &__item-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    &__item-content>div:nth-of-type(2){
        max-width: 736px;
    }
    &__item-text{
        max-width: 506px;
    }
}
// protect
.protect{
    margin-bottom: 34px;
    &__subtitle{
        max-width: 760px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        grid-template-rows:  1fr;
        &>div:not(:last-child){
            margin-right: 24px;
        }
    }
    &__item-img{
        margin: 0 auto;
    }
    &__item-text{
        text-align: center;
        max-width: 368px;
    }
}
// realized
.realized{
    margin-bottom: 34px;
    &__title{
        margin-bottom: 20px;
    }
    &-swiper__container{
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    &-arrow{
        color:  #FFFFFF;
        &::after{
            font-size: 20px;
        }
    }
    &-arrow.swiper-button-next{
        right: 27%;
    }
    &-arrow.swiper-button-prev{
        left: 27%;
    }
    &-pagination{
        position: absolute;
        margin-bottom: 16px;
    }
    &-pagination .swiper-pagination-bullet{
        width: 16px;
        height: 3px;
        border-radius: 0;
        background-color: #FFFFFF;
    }
}
// about{
.about{
    &__title{
        margin-bottom: 50px;
    }
    &-swiper{
        margin-bottom: 25px;
    }
    &-swiper-wrapper .swiper-slide{
        background-color: #FAFAFA;
        padding: 20px;
    }
    &-pagination{
        position: static;
        margin-bottom: 16px;
    }
    &-pagination .swiper-pagination-bullet{
        width: 16px;
        height: 3px;
        border-radius: 0;
        background-color: #017DFF;
    }
    &__slide-title-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__slide-title>div:first-child{
        font-weight: 500;
        font-size: 18px;
    }
    &__slide-title>div:nth-of-type(2){
        color: #969696;
        margin-bottom: 6px;
    }
    &__slide-text>div:first-child{
        margin-bottom: 39px;
    }
    & .container .button-transparent{
        margin: 0 auto;
        display: block;
        margin-bottom: 34px;
    }
}
// question
.question{
    &__title{
        margin-bottom: 24px;
    }
    &__item{
        border-bottom: 1px solid #969696;
        margin-bottom: 18px;
    }
    &__item-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__item-text{
        margin-bottom: 24px;
        padding-right: 40px;
        display: none;
    }
    &__item-text--active{
        display: block;
    }
    &__btn--active{
        opacity: 0;
    }
    &__button{
        background-color: transparent;
        display: flex;
        & .first-dash{
            width: 10px;
            height: 2px;
            background-color: #000000;
            display: flex;
        }
        & .second-dash{
            width: 2px;
            height: 10px;
            background-color: #000000;
            display: flex;
            transform: translate(-6px,-4px);
        }
    }
}
// consultation
.consultation{
    margin-bottom: 24px;
    &__title{
        margin-bottom: 24px;
    }
    &__steps-list{
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
        &>li:not(:last-child){
            margin-right: 97px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background: #E5E5E5;
                width: calc(100% - 4px);
                height: 1px;
                top: 25%;
                left: 75%;
            }
        }
    }
    &__step{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__step>div:nth-of-type(1){
        font-size: 40px;
        color: #FFFFFF;
        background: #9B9C9F;
        border-radius: 62px;
        width: 74px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
    &__step>div:nth-of-type(2){
        max-width: 197px;
        text-align: center;
    }
    &__form-container{
        max-width: 594px;
    }
    &__form{
        background: #FAFAFA;
        padding: 20px 0 36px 0;
    }
    &__form-title{
        font-size: 18px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    &__select-wrap{
        display: flex;
        position: relative;
        margin-bottom: 24px;
    }
    &__select{
       width: 100%;
       height: 50px;
       font-size: 13px;
       background: #ECF2F8;
       cursor: pointer;
       display: flex;
       align-items: center;
       padding-left: 10px;
       position: relative;
    }
    &__option-wrap{
        position: absolute;
        width: 100%;
        background-color: #ECF2F8;
        top: 100%;
        left: 0;
        padding:0 0 5px 10px;
        display: none;
        &>div:not(:last-child){
            margin-bottom: 5px;
        }
    }
    &__option-wrap--active{
        display: block;
    }
    &__select-wrap>svg{
        width: 8px;
        height: 4px;
        stroke: #017DFF;
        position: absolute;
        top: 50%;
        right: 2%;
    }
    &__form-container>input:nth-of-type(1){
        display: block;
        width: 100%;
        height: 50px;
        font-size: 13px;
        background: #ECF2F8;
        cursor: pointer;
        text-indent: 10px;
        color: #969696;
        margin-bottom: 24px;
        &::placeholder{
            color: #969696;
        }
    }
    &__form-container>input:nth-of-type(2),&__form-container>input:nth-of-type(3){
        width: calc(100% / 2);
        max-width: 269px;
        height: 50px;
        font-size: 13px;
        background: #ECF2F8;
        cursor: pointer;
        text-indent: 10px;
        color: #969696;
        margin:0 11px 24px 0;
        &::placeholder{
            color: #969696;
        }
    }
    &__form-container>input:nth-of-type(3){
        margin:0 0px 24px 11px;
    }
    &__form-container>textarea{
        display: block;
        width: 100%;
        height: 118px;
        resize: none;
        font-size: 13px;
        background: #ECF2F8;
        cursor: pointer;
        padding: 13px 10px;
        color: #969696;
        margin-bottom: 24px;
        &::placeholder{
            color: #969696;
        }
    }
    &__form-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__form-checkbox>input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        cursor: pointer;
    }
}
.checkbox__title{
    padding-left: 30px;
    line-height: 15px;
    &>a{
      color: #017DFF;
    }
}
input[type=checkbox]:before{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -7px;
    left: 0px;
    background-color: transparent;
    border: 1px solid #C5D6FA;
    border-radius: 4px;
}
input[type=checkbox]:checked:before{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -7px;
    left: 0px;
    background-color: #0071DC;
}
input[type=checkbox]:checked:after {
    content: url(../img/check-icon.svg);
    display: block;
    position: absolute;
    top: -12px;
    left: 5px;
}
// interesting
.interesting{
    margin-bottom: 110px;
    &__title{
        margin-bottom: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 722px;
        &>a:not(:last-child){
            margin-right: 25px;
        }
    }
    &__item-link{
        background: #FAFAFA;
        padding: 8px 16px;
        text-align: center;
        font-weight: 500;
        border: 1px solid #969696;
        border-radius: 2px;
        margin-bottom: 20px;
    }
}
// footer
.footer{
    color: #FFFFFF;
    background: #272727;
    padding: 30px 0 20px 0;
    &-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        border-bottom: 1px solid #9FA3A6;
        padding-right: 120px;
        &-item-title{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #969696;
            margin-bottom: 16px;
        }
        &__list>li:not(:last-child){
            margin-bottom: 12px;
        }
        &__list>li>a{
            font-size: 16px;
            line-height: 19px;
        }
        &__form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 370px;
            margin-bottom: 42px;
            &>input{
                width: 100%;
                height: 40px;
                background: #373838;
                padding-left: 10px;
                color: #969696;
                &::placeholder{
                    color: #969696;
                }
            }
            &>button{
                max-width: 126px;
                height: 40px;
                border-radius: 0 2px 2px 0 ;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__contact-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__contact-item>a{
            margin-bottom: 8px;
            display: inline-block;
            font-size: 18px;
            line-height: 21px;
            text-align: right;
        }
        &__contact-subtitle{
            line-height: 15px;
            text-align-last: left;
            color: #9FA3A6;
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        &__items{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__copyright{
            line-height: 15px;
            color: #9FA3A6;
            margin-right: 24px;
        }
        &__link{
            font-weight: 500;
            line-height: 15px;
            margin-right: 24px;
        }
        &__social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &>li:not(:last-child){
                margin-right: 18px;
            }
        }
    }
}
// Media
@media(max-width:1440px){
    .realized{
        &-arrow.swiper-button-prev{
            left: 20%;
        }
        &-arrow.swiper-button-next{
            right: 20%;
        }
    }
}
@media(max-width:1024px){
    .banner{
        &__img{
            max-width: 45%;
        }
    }
    .realized{
        &-arrow.swiper-button-prev{
            left: 10%;
        }
        &-arrow.swiper-button-next{
            right: 10%;
        }
    }
}
@media(max-width:992px){
    .header{
        &-bottom__list>li{
            margin-right: 20px;
        }
    }
    .banner{
        &__img{
            max-width: 42%;
        }
    }
}
@media(max-width:768px){
    .container{
        padding: 0 10px;
    }
    .header{
        &-top__logo-link{
            margin-right: 15px;
        }
        &-top__list li:not(:last-child){
            margin-right: 15px;
        }
        &-top__list li:last-child{
            margin-right: 20px;
        }
        &-bottom__text{
            font-size: 13px;
            margin-right: 10px;
            white-space: nowrap;
        }
        &-bottom__item-link{
            white-space: nowrap;
            font-size: 12px;
        }
        &-bottom__list>li{
            margin-right: 12px;
        }
        &-bottom__nav .button-transparent{
            padding: 0 6px;
        }
    }
    .banner{
        &__text{
            font-size: 16px;
        }
        &__img{
            display: none;
        }
    }
    #info-first, #info-second, #info-third{
        padding: 10px 0 12px 12px;
    }
    .info{
        &__item-img{
            max-width: 26%;
        }
        &__item-title{
            line-height: 30px;
        }
        &__subtitle{
            margin-bottom: 5px;
        }
    }
    .protect{
        &__subtitle{
            margin-bottom: 0;
        }
        &__grid > div:not(:last-child) {
            margin-right: 5px;
        }
    }
    .realized{
        &-arrow.swiper-button-prev{
            left: 5%;
        }
        &-arrow.swiper-button-next{
            right: 5%;
        }
    }
    .about{
        &__slide-title-wrap>img{
            max-width: 30%;
        }
        &__slide-title > div:first-child{
            font-size: 16px;
        }
        &__slide-title > div:nth-child(2){
            font-size: 12px;
        }
        &__slide-text > div:first-child{
            margin-bottom: 15px;
        }
    }
    .interesting{
        margin-bottom: 25px;
    }
    .footer{
        &-top{
            padding-right: 0;
        }
        &-top-item-title{
            font-size: 16px;
        }
        &-top__list > li > a{
            font-size: 13px;
        }
    }
}
@media(max-width:600px){
    .header{
        &-top__number-link{
            padding: 8px;
        }
        &-top__number-link>span{
            display: none;
        }
        &-top__number-link>svg{
            margin-right: 0px;
        }
        &-bottom__container{
            justify-content: space-between;
            padding: 8px 10px;
        }
        &-bottom__text{
            font-size: 16px;
            margin-right: 0;
            position: relative;
        }
        &-bottom__list{
            flex-direction: column;
            position: absolute;
            top: 100%;
            display: none;
            left: calc(50% - 91.5px);
            &>li>a{
                padding: 10px 0;
            }
        }
        &-bottom__list--active{
            display: flex;
            background-color: #FFFFFF;
            width: 100%;
        }
        &-bottom__nav .button-transparent{
            padding: 0 26px;
        }
    }
    .consultation{
        &__steps-list > li:not(:last-child)::after{
            left: 88%;
        }
    }
    .footer{
        &-top__form{
            width: 275px;
            margin-bottom: 32px;
            &>button{
                max-width: 90px;
            }
        }
        &-top__contact-wrap{
            flex-direction:column;
            align-items: flex-start;
            &>div:not(:last-child){
                margin-bottom: 5px;
            }
        }
        &-bottom{
            flex-wrap: wrap;
            align-items: flex-start;
            &__link-wrap{
                order: 1;
                display: flex;
                flex-direction: column;
                margin: 0 187px 16px 0;
                &>a:not(:last-child){
                    margin-bottom: 11px;
                }
            }
            &__social{
                order: 2;
            }
            &__logo{
                order: 3;
            }
            &__copyright{
                order: 4;
                margin-right: 0;
            }
        }

    }
}
@media(max-width:480px){
    .header{
        &-top__container{
            position: relative;
        }
        &-top__logo-link {
            margin-right: auto;
        }
        &-top__number-link{
            margin-right: 26px;
        }
        &-top__nav{
            display: none;
        }
        &-top__nav--active{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: 10;
            top: 131%;
            left: 0;
            background-color: #FAFAFA;
        }
        &-top__list{
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            margin-bottom: 10px;
            &>li{
                padding: 10px 0;
                margin-right: 0!important;
            }
        }
        &-top__item-link,&-top__lang-link{
            font-size: 18px;
        }
        &-top__burger{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 20px;
            height: 14px;
            &>span{
                width: 20px;
                height: 2px;
                background: #017DFF;
                position: absolute;
            }
            &>span:nth-of-type(1){
                transform: translateY(6px);
            }
            &>span:nth-of-type(3){
                transform: translateY(-6px);
            }

        }
        &-top__burger--active>span:nth-of-type(2){
            opacity: 0;
        }
        &-top__burger--active>span:nth-of-type(1){
            transform: rotate(45deg);
        }
        &-top__burger--active>span:nth-of-type(3){
            transform: rotate(-45deg);
        }
    }
    .banner{
        margin-bottom: 10px;
        &__price-wrap{
            flex-direction: column;
            align-items: flex-start;
        }
        &__price-message{
            background-image: url(../img/message-bg-mobile.png);
            max-width: 343px;
            height: 70px;
            padding: 27px 16px 7px 16px;
            &>span{
                padding: 0;
            }
        }
    }
    .title{
        font-size: 24px;
        line-height: 32px;
    }
    .info{
        margin-bottom: 10px;
        &__title{
            max-width: 375px;
            margin: 0 auto;
        }
        &__subtitle{
            margin-bottom: 10px;
        }
        &-swiper-wrapper{
            display: flex;
            gap: 0;
        }
        &__item-content > div:nth-of-type(2){
            margin-bottom: 5px;
        }
        &__item-title{
            font-size: 20px;
            line-height: 24px;
        }
        &__item-img{
            max-width: 100%;
        }
        &-pagination{
            position: static;
            margin-bottom: 16px;
        }
        &-pagination .swiper-pagination-bullet{
            width: 16px;
            height: 3px;
            border-radius: 0;
            background-color: #017DFF;
        }
    }
    #info-first{
        flex-direction: column;
    }
    .protect{
        margin-bottom: 10px;
        &__grid{
            display: flex;
            margin-bottom: 12px;
        }
        &__grid > div:not(:last-child){
            margin-right: 0;
        }
        &-pagination{
            position: static;
            margin-bottom: 16px;
        }
        &-pagination .swiper-pagination-bullet{
            width: 16px;
            height: 3px;
            border-radius: 0;
            background-color: #017DFF;
        }
    }
    .realized{
        margin-bottom: 15px;
        &-pagination{
            bottom: 0!important;
        }
    }
    .about{
        &__title{
            margin-bottom: 10px;
        }
        & .container .button-transparent {
            margin-bottom: 15px;
        }
    }
    .question{
        &__item-title{
            font-size: 14px;
            &>span{
                max-width: 286px;
            }
        }
        &__button{
            padding-left: 5px;
        }
    }
    .consultation{
        &__step-text--hidden{
            display: none;
        }
        &__steps-list > li{
            max-width: 120px;
        }
        &__steps-list > li:not(:last-child){
            margin-right: 36px;
        }
        &__steps-list > li:not(:last-child)::after{
            width: calc(100% /2);
            top: 20%;
        }
        &__form-container > input:nth-of-type(2),&__form-container > input:nth-of-type(3){
            max-width: 217px;
        }
        &__form-wrap{
            flex-direction: column;
            align-items: flex-start;
            &>button{
                width: 100%;
            }
        }
        &__form-checkbox{
            margin-bottom: 20px;
        }
    }
    .interesting{
        &__item{
            justify-content: flex-start;
        }
        &__item-link{
            white-space: nowrap;
        }
    }
    .footer{
        &-top{
            flex-direction: column;
        }
        &-top-item-title{
            font-size: 24px;
            line-height: 28px;
        }
        &-top__list{
            display: none;
        }
        &-top__list > li > a{
            font-size: 16px;
        }
        &-top__list--active{
            display: block;
            margin-bottom: 10px;
        }
        &-bottom__link-wrap {
            margin-right: 68px;
        }
    }
}
@media(max-width:425px){
    .banner{
        &__title {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 10px;
        }
        &__text{
            font-size: 13px;
        }
    }
    .consultation{
        &__form-container > input:nth-of-type(2),&__form-container > input:nth-of-type(3){
            min-width: 100%;
            display: block;
            margin: 0;
            margin-bottom: 24px;
        }
        &__steps-list > li{
            width: calc(100% /3);
        }
    }
    .interesting{
        overflow: hidden;
        &__item-link{
            padding: 8px;
        }
    }
}
@media(max-width:375px){
    .header{
        &-bottom__text{
            font-size: 14px;
        }
    }
    .consultation{
        &__steps-list > li:not(:last-child)::after{
            left: 93%;
        }
    }
}
@media(max-width:320px){
    .header{
        &-bottom__nav .button-transparent {
            padding: 0 10px;
        }
    }
    .banner{
        &__title{
            font-size: 22px;
        }
        &__price-message{
            background-size: contain;
            padding-bottom: 18px;
            &>span{
                line-height: 14px;
                font-size: 12px;
            }
        }
        &__buttons{
            display: flex;
            flex-direction: column;
            &>button{
                width: 100%;
                margin-bottom: 24px;
            }
            &>a{
                display: block;
                margin: 0 auto;
            }
        }

    }
    .title {
        font-size: 22px;
    }
    .info{
        &__item-title{
            font-size: 18px;
        }
    }
    .consultation{
        &__step > div:nth-of-type(1){
            width: 52px;
            height: 52px;
            font-size: 24px;
        }
        &__steps-list > li:not(:last-child)::after {
            top: 15%;
            left: 100%;
         }
    }
    .footer{
        &-bottom__link-wrap {
            margin-right: 0;
        }
    }
    .checkbox__title > a{
        font-size: 12px;
    }
    .interesting{
        overflow: hidden;
    }

}